/* LANDING =========================================================== */
.main-screen {
    background-image: url(/Users/kartik/mitr/frontend/src/assets2/bg.png);
    background-size: cover;
    /* border: 1px solid red; */
    /* backdrop-filter: blur(10px); */
}

.para-1 {
    font-size: 17px;
    line-height: 130%;
}



.btn-X {
    /* background: linear-gradient(rgb(255, 255, 255) 0%, rgb(217, 223, 255) 100%); */
    background-color: black;
    border: none;
    box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 0.5px inset, rgba(23, 0, 102, 0.2) 0px 20px 40px, rgba(0, 0, 0, 0.1) 0px 1px 3px;
    /* border-radius: 20px; */
    cursor: pointer;
    position: relative;
    /* width: 280px; */
    /* height: 77px; */
    /* padding: 0px; */
}

.btn-X:hover {
    background-color: rgb(37, 35, 35);
}

.base-font {
    font-size: 13px;
    /* color: rgba(255, 255, 255, 0.5); */
    line-height: 130%;
}

.btn-text {
    text-align: left;
}

.btn-text-1 {
    font-size: 18px;
    font-weight: 800;
    /* text-transform: uppercase; */
}

.btn-text-2 {
    font-size: 13px;
    color: rgb(89, 92, 123) !important;
}

.design-code {
    font-size: 60px;
    font-weight: bold;
    background: linear-gradient(rgb(115, 0, 64) 0%, rgb(48, 28, 190) 100%) text;
    -webkit-text-fill-color: transparent;
}

h1 {
    line-height: 1.1;
}


.design-code span {
    background: linear-gradient(rgb(255, 215, 255) 0%, rgb(255, 182, 255) 100%) text;
    -webkit-text-fill-color: transparent;
}

.TextAnimation {
    display: inline-flex;
    flex-direction: row;
    font-weight: bold;
}

@keyframes bzAnHH {
    50% {
        opacity: 1;
        transform: scale(1) translateY(0px) skewX(0deg) skewY(0deg) rotateZ(0deg);
        filter: blur(0px);
    }

    60% {
        opacity: 0;
        transform: scale(2) translateX(100px) skewX(10deg) skewY(10deg) rotateZ(30deg);
        filter: blur(10px);
    }

    70% {
        opacity: 0;
        transform: scale(2) translateY(-100px) skewX(10deg) skewY(10deg) rotateZ(30deg);
        filter: blur(10px);
    }

    80% {
        opacity: 1;
        transform: scale(1) translateY(0px) skewX(0deg) skewY(0deg) rotateZ(0deg);
        filter: blur(0px);
    }
}

.TextAnimation span:nth-child(1) {
    animation-delay: 0.1s;
}

.TextAnimation span:nth-child(2) {
    animation-delay: 0.2s;
}

.TextAnimation span:nth-child(3) {
    animation-delay: 0.3s;
}

.TextAnimation span:nth-child(4) {
    animation-delay: 0.4s;
}

.TextAnimation span:nth-child(5) {
    animation-delay: 0.5s;
}

.TextAnimation span {
    animation-name: bzAnHH;
    animation-duration: 6s;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}


.header-navigator {
    display: grid;
    grid-template-columns: repeat(7, auto);
    gap: 26px;
}

.navigator-btn {
    display: flex;
    background: none;
    border: none;
    border-radius: 14px;
    padding: 10px 20px;
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    background-blend-mode: overlay;
    /* background-color: aqua; */
    cursor: pointer;
}

.navigator-btn:hover {
    /* background-color: #411be9ab; */
    background-color: rgba(255, 255, 255, 0.211);
    border: 0.5px solid rgba(255, 255, 255, 0.754);
}


.navigator-btn p {
    transition: all 0.3s ease-in-out 0s;
}

.navigator-para {
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    -webkit-box-align: center;
    align-items: center;
    color: rgb(255, 255, 255);
    text-align: center;
    margin: auto auto auto 10px;
}


.heroSectionLeft img {
    border: 1px solid transparent;
    /* Add a transparent border to apply the blur effect to */
    /* border-radius: 5px; */
    /* Adjust the border radius as needed */
    /* backdrop-filter: blur(5px); */
    /* Adjust the blur radius as needed */
    /* -webkit-backdrop-filter: blur(10px); */
    /* For Safari */
    -webkit-filter: drop-shadow(8px 8px 30px rgba(255, 255, 255, 0.4));
    filter: drop-shadow(8px 8px 30px rgba(255, 255, 255, 0.4));
}