@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&display=swap');

body{
    font-family: 'Manrope', sans-serif;
}

.main {
    background-color: #171717;
}

.project {
    background-color: #1e1e1e;
}

.project p {
    color: #f2f2f280;
}

.run p {
    color: #08bf31;
}

.folder-1, .folder-2, .bot, .debug {
    border-radius: 10px;
}

.folder-1, .folder-2 {
    background-color: #8bc3eb66;
}

.bot {
    background-color: #949be266;
}

.debug {
    background-color: #d7b25266;
}

.project, .search, .run {
    border-radius: 15px;
}

.run {
    background-color: #08bf3166;
    font-size: 18px;
    font-weight: 700;
}

.search {
    background-color: #3333334c;
}

.search-field {
    background-color: transparent;
    outline: none;
}

.search-field::placeholder {
    color: #f2f2f233;
}

.rightPanel, .leftPanel {
    background-color: #1e1e1e;
    border-radius: 20px;
}

.left-header, .right-header {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: #33333380;
}

.right-header button {
    color: #f2f2f299;
    font-size: 19px;
    font-weight: 500;
}




/* ============================================ Dashboard CSS ============================================ */

.leftP {
    background-color: #262626;
}

.rightP {
    background-color: #1E1E1E;
}

.heading, .mitr {
    color: transparent;
<<<<<<< HEAD
        font-size: 48px;
        font-weight: 800;
=======
    font-family: "Manrope-ExtraBold", Helvetica;
    font-size: 48px;
    font-weight: 800;
>>>>>>> 71abf0714df950bc816a5689bb5b8b6bf6e3a26d
}


.heading {
    color: #b5b5b5;
}

.mitr {
    color: #8bc3eb;
}

.help {
    color: #f2f2f2;
<<<<<<< HEAD
        font-size: 1vw;
        opacity: 0.5;
=======
    font-family: "Manrope-Regular", Helvetica;
    font-size: 18px;
    font-weight: 400;
>>>>>>> 71abf0714df950bc816a5689bb5b8b6bf6e3a26d
}

.btn {
    background-color: #08bf31e6;
<<<<<<< HEAD
        border-radius: 15px;
        font-family: "Manrope", sans-serif;
        font-weight: 700;
=======
    border-radius: 15px;
>>>>>>> 71abf0714df950bc816a5689bb5b8b6bf6e3a26d
}

.workspace {
    color: #b5b5b5;
    font-family: "Manrope-ExtraBold", Helvetica;
    font-size: 45px;
    font-weight: 800;
}

.plus {
    border-radius: 15px;
    background-color: #08bf31e6;
}

.project-name {
    border-radius: 0px 15px 15px 0px;
    background-color: #202020;
    border-color: #8bc3eb;
    border-left-style: solid;
    border-left-width: 0.529vw;
}

.content-head {
    color: #b5b5b5;
<<<<<<< HEAD
        font-size: 1.7vw;
        font-weight: 700;
=======
    font-family: "Manrope-Bold", Helvetica;
    font-size: 28px;
    font-weight: 550;
>>>>>>> 71abf0714df950bc816a5689bb5b8b6bf6e3a26d
}

.content-time {
    color: #b5b5b5bf;
<<<<<<< HEAD
        font-size: 1vw;
        font-weight: 400;
        opacity: 0.8;
=======
    font-family: "Manrope-Bold", Helvetica;
    font-size: 18px;
    font-weight: 400;
}




/* ============================================ LoginPage CSS ============================================ */
.leftA {
    background-color: #1E1E1E;
}

.rightA {
    background-color: #262626;
}

.btnGit {
    border-radius: 10px;
}

.headingRA {
    color: transparent;
    font-family: "Manrope-ExtraBold", Helvetica;
    font-size: 42px;
    font-weight: 700;
    color: #b5b5b5;
}

.logo-name {
    color: #8bc3eb;
        font-family: "Manrope-ExtraBold", Helvetica;
        font-size: 40px;
        font-weight: 700;
}

.git-signin {
    font-family: "Manrope-ExtraBold", Helvetica;
        font-size: 24px;
        font-weight: 650;
}

.modal {
    background-color: #08bf31e6;
    border-radius: 15px;
}

.modal-content input {
    border-radius: 7px;
>>>>>>> 71abf0714df950bc816a5689bb5b8b6bf6e3a26d
}