.projects-main {
    background-image: url(./assets2/bg2.png);
    background-size: cover;
}

.projects-head,
.projects-time {
    font-family: "Manrope-Bold", Helvetica;
}

.projects-workspaces {
    overflow: hidden;
}

.workspace-container {
    display: flex;
    transition: transform 0.5s ease;
}

.projects-ws {
    box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 0.5px inset;
    backdrop-filter: blur(20px);
    /* background-blend-mode: overlay; */
}

.projects-ws:hover {
    /* background-color: rgba(255, 255, 255, 0.211); */
    border: 0.5px solid rgba(255, 255, 255, 0.754);
    backdrop-filter: blur(60px);
}
